<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1>Create an article</h1>
    </div>
    
    <%= render partial: 'form' %>

    <div class="col-xs-8 col-xs-offset-2">
        <%= link_to 'Back', articles_path, :class => "btn btn-primary btn-large" %>
    </div>        
</div>