<div class="col-xs-8 col-xs-offset-2">
    <h1>Welcome to Jamie Lafferty</h1>
    <p>This is a work-in-progress site I am building in Ruby on Rails.</p>
    <p>I started building this on 2nd May 2020 in my spare time - watch this space</p>
</div>
